################################################################################
# GITIGNORE
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
################################################################################

################################################################################
# DIRECTORIES to ignore
################################################################################
**/node_modules/*
**/[Tt]mp/*

.github/actions/javascript-action/coverage
.github/actions/javascript-action/dist

################################################################################
# FILES to ignore
################################################################################
*~
**/*.sw[mnop]
README-TEST.md

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
!**/*go.mod
